<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Web tests" parallel="tests" thread-count="5">

<listeners>
<listener class-name="test_components.Listeners"></listener>
</listeners>

  <test thread-count="5" name="stand alone test">
    <classes>
   		<class name="tests.StandAlonePageObjectTest"></class>
     
    </classes>
  </test> 




  <test thread-count="5" name="json data tests">
    <classes>
      <class name="tests.Json_Test"/>
    </classes>
  </test> <!-- Test -->


</suite> <!-- Suite -->
